<!DOCTYPE HTML>
<head>
</head>
<body>
    <div>
        <canvas id="myChart" width="500px" height="200px"></canvas>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://github.com/chartjs/Chart.js/blob/master/docs/scripts/utils.js"></script>
    <script>
        const n = '{{ weeklyValues }}';
        let arrayPrices = n.split(' ');
        arrayPrices = arrayPrices.slice(0, arrayPrices.length-1);
        const floatArray = arrayPrices.map(function(value) {
            return parseFloat(value);
        })

        const times = '{{ weeklyTimes }}';
        const arrayTimes = times.split(' ');

        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: arrayTimes,
                datasets: [{
                    data: floatArray,
                    cubicInterpolationMode: 'monotone',
                    borderColor: 'rgb(255, 99, 132)',
                    tension: 0.6,
                    radius: 0,
                }]
            },
            options: {
                responsive: true,
                interaction: {
                    intersect: false
                },
                scales: {
                    x:{
                        display: false
                    },
                    y: {
                        display: true
                    }
                }
            }
        });
    </script>

</body>
</html>