<!DOCTYPE html>
<head>
</head>

<hr>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

{% block content %}
    <h1>Sign In</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.address.label }}<br>
            {{ form.address(size=32) }}
            {% for error in form.address.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.chain.label }}<br>
            {{ form.chain }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}